* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(banner.jpg);
    background-size: cover;
    background-position: center;
}
header {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5em;
    padding-top: 2em;
}
.brand {
    display: flex;
    flex-direction: row;
    text-transform: capitalize;
    font-size: 25px;
}
.firstname {
    color: lightblue;
    font-weight: 400;
}
.lastname {
    color: #ffffff;
    padding-left: 5px;
    font-weight: 400;
}
.navigation {
    display: flex;
}
.navigation li {
    list-style-type: none;
    padding-left: 4em;
}
.navigation li a {
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
}
.navigation li a:hover {
    color: lightblue;
    transition: all .6s ease-in-out;
}
.active {
    color: black !important;
    background-color: lightcyan;
    border-radius: 8px;
    padding: 5px;
}
.portfolio {
    margin-top: 5em;
    padding-left: 5em;
    text-align: left;
   
}
.portfolio h1 {
    color: rgb(255, 255, 255);
    letter-spacing: 1px;
    font-size: 35px;
    width: 40%;
}
.portfolio h2 {
    font-size: 25px;
    margin-top: 10px;
    color: lightblue;
    text-transform: capitalize;
}
.portfolio h3 {
    margin-top: 10px;
    color: rgb(255, 255, 255);
    text-align: left;
    width: 50%;
}
.content {
    margin-top: 2em;
    text-align: center;
}
.content h1 {
    text-transform: uppercase;
}
.content h3 {
    text-transform: capitalize;
}
.explore {
    width: 14%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5em;
    margin-top: 1em;
}
.explore a {
    text-decoration: none;
    text-transform: capitalize;
    color: white;
    border: 2px solid lightblue;
    border-radius: 8px;
    padding: 5px;
}
.explore a:hover {
    background-color: lightblue;
    color: black;
    border: 3px solid rgb(255, 252, 252);
    font-weight: 500;
    transition: all .5s ease-in-out;
}